.results{
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px#ddd;
    border-radius: 10px;
    margin-top: 4vh;
    max-height: 300px;
    overflow-y: scroll;
    margin-left: 30vw;


}