.delete-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-dialog-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 40vw;
}

.delete-dialog-content p {
  padding: 0 1rem;
  font-weight: lighter;
  font-size: 2rem;
}

.delete-dialog-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.delete-dialog-buttons button {
  margin-left: 10px;
  width: 4vw;
  height: 4vh;
}
